<div class="parent" >
    <div class="child1" *ngFor="let bank of banks">
        <p>{{bank.account_name}}</p>
        <p>{{bank.available_balance}}</p>
        <p>{{bank.account_number}}</p>
        <p>{{bank.id}}</p>
        <p>{{bank.Sno}}</p>
        <p>{{bank.EmployeeId}}</p>
        <p>{{bank.EmployeeName}}</p>
        <p>{{bank.BillacilityStatus}}</p>
        <p>{{bank.Location}}</p>
        <p>{{bank.Brand}}</p>
        <p>{{bank.RollOverdate}}</p>
        <p>{{bank.RollOverQuarter}}</p>
        <p>{{bank.Codility}}</p>
        <p>{{bank.ReadyforDeploymentskill}}</p>
        <p>{{bank.PropsedCustomer1}}</p>
        <p>{{bank.PropsedCustomer2}}</p> 
    </div>

</div>