<!-- <p>cart2 works!</p> -->

<input type="text" placeholder="search name"[(ngModel)]="term" (keypress)="search1()">
<input type="text" placeholder="search company"[(ngModel)]="term2" (keypress)="search2()">

<button (click)="hi()">placedstudents</button>
<button>notplacedstudents</button>
<button (click)="package()">low to heigh</button>
<button (click)="package1()">heigh to low</button>

<table class="table table-dark">  
    <thead >
        <tr>

            <th>sr</th>
            <th>name</th>
            <th>dob</th>
            <th>eduction</th>
            <th>isplaced</th>
            <th>company</th>
            <th>package</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students;let i=index">
            <td>{{i+1}}</td>
            <td>{{student.name}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.eduction}}</td>
            <td>{{student.isplaced}}</td>
            <td>{{student.company}}</td>
            <td>{{student.package}}</td>
            <td><button class="btn btn-danger" (click)=" delete(i)">delete</button></td>
        </tr>
    </tbody>
</table>
