
<!-- <p>dashboard works!</p> -->

<div class="parent">

<div class="left">
    <h4 routerLink="hone">HOME</h4>
    <br>
    <h4 routerLink="data-binding">data-binding </h4>
    <br>
    <h4 routerLink="calulator">CALCULATOR</h4>
    <br>
    <h4 routerLink="redtangle">redtangle</h4>
    <br>
    <h4 routerLink="directive">directive</h4>
    <br>
    <h4 routerLink="directivestask">directivestask</h4>
    <br>
    <h4 routerLink="cart">cart</h4>
    <br>
    <h4 routerLink="cart2">cart2</h4>
    <br>
    <h4 routerLink="attributesb-directives">attributesb-directives</h4>
    <br>
    <h4 routerLink="phone">phone</h4>
    <br>
    <h4 routerLink="vehicle">vehicle</h4>
    <br>
    <h4 routerLink="products">products</h4>
    <br>
    <h4 routerLink="bank">bank</h4>
    <br>
    <h4 routerLink="create-vehicle">create Vehicle</h4>
    <br>
    <h4 routerLink="student">student</h4>
    <br>
    <h4 routerLink="parent">parent</h4>
    <br>
    <br>
    <h4 routerLink="create-user">create-user</h4>
    <br>
    <h4 routerLink="items">items</h4>
    <br>
    <h4 routerLink="nav">nav</h4>
    <br>
    <h4 routerLink="cartlist">cartlist</h4>
    <br>
    <h4 routerLink="about-ceo">about-ceo</h4>
    <br>
    <h4 routerLink="contatus/contact-phone">contact phone</h4>
    <br>
    <h4 routerLink="contatus/contact-email">contact email</h4>
    <br>
    <h4 routerLink="users">users</h4>

    

    <button class="logout"(click)="logout()">logout</button>
    
</div>

<div class="right">
    
    <router-outlet></router-outlet>
</div>

</div>
